Making HTTP refs more specific

As discussed in solid/notifications#187

[RFC9205](https://httpwg.org/specs/rfc9205.html#specifying-the-use-of-http) recommends:

> Specifications should use [[HTTP]](https://httpwg.org/specs/rfc9205.html#HTTP) as the primary reference for HTTP; it is not necessary to reference all of the specifications in the HTTP suite unless there are specific reasons to do so (e.g., a particular feature is called out).

In light of this, consider removing references to RFC9112 (in lieu of RFC7321) and RFC9113 (in lieu of RFC7540), unless specific reference is made respectively to an HTTP/1.1 or HTTP/2 specific feature. Examples include definitions for Server and Client amongst others.

Yet in other sections, such as security considerations, one might want to add references to RFC9114 (HTTP/3).