Refer rfc 9110, over obsolated 7230, 7231, 7232, 7233, 7235, 7538, 7615, 7694

[RFC 9110 HTTP Semantics] obsolates previous many scattered specs like 7230, 7231, 7232, 7233, 7235, 7538, 7615, 7694, etc in one consistant http-semantics rfc.

It may be useful if 9110 is referred instead of many of those.

[RFC 9110 HTTP Semantics]: https://httpwg.org/specs/rfc9110.html

Since I am also regularly bumping into this, you can assign this to me to check for any changes and create the necessary PRs, @csarven.

Just to be complete: RFC9110 also updates RFC3864, so let's not forget that one.

Wouter, all yours! Thanks. Happy to review this.

Suggestions:
* Note any changes in behaviour that may effect conformance.
* Note if such changes above may impact interoperability for (some of the) existing implementations.
* Use most specific or closest identifiers in (sentence-level) anchors when referring to notions in cited documents. The items in the Reference section can still use the document URL (without fragment).

Tracking specs with updates here.

- [ ] WebID Profile (https://github.com/solid/webid-profile/pull/99)

@damooo, aware of that :) I refered to all relevant changes for each change reference.

Based on yesterday's meeting, I went a final time through all changes of RFC9110, and also updated all terminological changes that were not part of a conformance statement. I am now more than fairly certain that the whole change will have no noticable impact on existing implementations.

Am 24.08.2023, 22:45 Uhr, schrieb Wouter Termont  
***@***.***>:

> Based on yesterday's meeting, I went a final time through all changes of  
> RFC9110, and also updated all terminological changes that were not part  
> of a conformance statement. I am now more than fairly certain that the  
> whole change will have no noticable impact on existing implementations.

thank you for this comprehensive info, @woutermont.
I read through the changelog for RFC9110 and through  
https://github.com/solid/specification/pull/561 (admittedly I only got a  
grasp...).
but I try to fulfill any responsibilities for the (server)  
implementation(s) I manage.
can you give me a hint or a ToDo what is expected to understand ? I guess  
it is not needed to put hands on server code.

However, for compatibility reasons I performed  
https://solid-contrib.github.io/solid-oidc-tests/ for my NSS as well as my  
CSS (solidweb.org and solidweb.me).
everything looked like expected.

I will spend the weekend trying to read more of the changelog.
can you tell me, if everything is errorfree ?
I have to catch up with the actual implementation details and exploring  
more details of the things.

thank you for this massive work.
I really give my best to keep everything running.

> Once more, implementers of existing (server) implementations are warmly  
> invited to check out the changelogs  
> ([RFC9110](https://www.rfc-editor.org/rfc/rfc9110.html#name-changes-from-previous-rfcs),  
> and to whom it concerns  
> [RFC9111](https://www.rfc-editor.org/rfc/rfc9111.html#name-changes-from-rfc-7234),  
> [RFC9112](https://www.rfc-editor.org/rfc/rfc9112.html#name-changes-from-rfc-7230),  
> [RFC9113](https://www.rfc-editor.org/rfc/rfc9113.html#name-changes-from-rfc-7540)),  
> particularly those mentioned in  
> https://github.com/solid/specification/pull/561. @joachimvh @oolivo  
> @acoburn @tomhgmns @bourgeoa @ewingson @gibsonf1 @madnificent
>


-- 
Matthias ***@***.***)


Hi @ewingson, thanks for taking the time to look this through. To be clear: the intention is indeed that nothing changes w.r.t. conformance, and thus no implementation action is needed. The only thing I would advise is what you have already done: take a look at the changelogs and see if anyhting catches your eye that I might have missed and could possibly impact your implementation(s) 🙂 

In personal communication, @joachimvh indicated he sees no problem in the updates.

Thanks all.

I/We took this issue in the context of the Solid Protocol but used it to follow-up on some other work items ( https://github.com/solid/specification/issues/471#issuecomment-1685201553 ). https://github.com/solid/specification/pull/561 resolves this issue. Closing issue.

Any issues or concerns related to the changes here can be followed up separately.