cannot find reference to OWS in solid protocol document

In section 5.1 of the Solid protocol there is:

wac-allow        = "WAC-Allow" ":" OWS #access-param OWS
access-param     = permission-group OWS "=" OWS access-modes
permission-group = 1*ALPHA
access-modes     = *1DQUOTE OWS *1(access-mode *(RWS access-mode)) OWS *1DQUOTE
access-mode      = "read" / "write" / "append" / "control"

but there I'm having trouble finding what OWS is.

It's optional whitespace: https://tools.ietf.org/html/rfc7230#section-3.2.3

We have a link to RFC7231 above the definition.

In the Solid Protocol:

>The syntax for the WAC-Allow header, using the ABNF syntax defined in Section 1.2 of [RFC7231], is:

In RFC 7231 https://tools.ietf.org/html/rfc7231#section-1.2 :

>Appendix D shows the collected grammar with all list
>   operators expanded to standard ABNF notation.

In Appendix D of 7231:

>OWS = <OWS, see [RFC7230], Section 3.2.3>

In RFC 7230 https://tools.ietf.org/html/rfc7230#section-3.2.3 :

>OWS            = *( SP / HTAB )
>               ; optional whitespace

Note also https://tools.ietf.org/html/rfc7230#section-1.2 :

>   The following core rules are included by reference, as defined in
   [RFC5234], Appendix B.1: ALPHA (letters), CR (carriage return), CRLF
   (CR LF), CTL (controls), DIGIT (decimal 0-9), DQUOTE (double quote),
   HEXDIG (hexadecimal 0-9/A-F/a-f), HTAB (horizontal tab), LF (line
   feed), OCTET (any 8-bit sequence of data), SP (space), and VCHAR (any
   visible [USASCII] character).

And finally RFC 5234 https://tools.ietf.org/html/rfc5234#appendix-B.1 if you want to go get to the bottom of it:

>HTAB           =  %x09
>                           ; horizontal tab

..

>SP             =  %x20

Clear?

---

The Solid Protocol could also import all of this.. but it was an editorial decision - mine - to not. OWS/HTAB/SP is presumably clear enough in context of ABNF or possibly common. Note that ABNF here is intended to be "aspirational" as opposed to being strict. I can review the text in this section to see if more can be clarified.

@sideshowtom In case of interest, see regex at https://github.com/linkeddata/dokieli/blob/f6e2e14645daf06467a946b0d79e423a896ea6d4/src/doc.js#L858

It should be able to parse string like:
`foo=bar ,user=" READ wriTe Append control ", public=" read append" ,other="read " , baz= write, group=" ",,`

Bonus: if you'd like to submit a test for https://github.com/solid/wac-allow/pull/4
